.header {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    margin-right: 16px;
    font-family: arial,sans-serif;
    font-size: 13px;
  }
.header img{
    float:right;
    margin-top: 0px;
    padding: 4px;
    border-radius: 2px;
}
.first a{
    display: block;
    color: #5f6368;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    float:left;
    text-size-adjust: 14px;

}
  .headerli a {
    display: block;
    color: #5f6368;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    float:right;
  }
  
  .headerli a:hover {
    text-decoration: underline;
  }
  
  .container {
    text-align: center;
    margin: 100px;
  }
  .container img {
      margin-left: -55px;
    }
  .search-area {
    background: #fff;
    display: flex;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-top: -77px;
    width: 582px;
  }
  
  .search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
  
  }
  
  .search {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
  }
  
  .search-img {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: 8px;
    position: absolute;
    
  }
  
  .search-img .vs-icon{
    width: 36px;
    position: absolute;
   margin-top: -10px;
    margin-left: 435px;
    
  }
  
  .search-img span {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
  }
  
  .input-enter {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .input-area {
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    display: block;
    
  }
  
  .input {
    margin: 0;
    padding: 0;
    color: rgba(65, 65, 65, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -75px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 36px !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    cursor: text;
    border-radius: 25px;
    width:480px ;
    margin-left: -5px;
    
  }
  
  .googlesearch {
    border: 1px solid transparent;
    padding: 9px 15px;
    color: black;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-left:770px;
    margin-top: 28px;
    cursor: pointer;
  }
  
 
  .feelinglucky {
    border: 1px solid transparent;
    padding: 9px 15px;
    color: black;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 28px;
    cursor: pointer;
  }
  
  .footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
    background-color: #f2f2f2;
    list-style-type: none;
  }
  
  .footerli {
    float: left;
  }
  
  .footerli a {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
    
  }
  
  .footerli a:hover {
    text-decoration: underline;
  }